lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
./node_modules/
./node_modules/coffee-script
./node_modules/express
./node_modules/jade
node_modules/coffee-script
node_modules/express
node_modules/jade
node_modules
